// Place all the styles related to the landers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.carousel .carousel .item .active {
  height: 600px;
}

.carousel img {
  margin: 0 auto;
  width: 100%;
}

/* carousel caption  */

.carousel-caption {
  text-align: right;
  top: 5%;
  right: 10z
}

@media(max-width: 768px) {
 .carousel-caption {
   display: none;
 }
}

.carousel-inner>.item:before {
    content:'';
    position: absolute;
    width:100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.6);
}

// background-image: linear-gradient(top, rgba(28,29,33,1) 8%,rgba(0,0,0,0) 100%);