body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.navbar-default {
  background-color: #1c1d22;
  
  
  .navbar-brand {
  font-size: 2.5em;
  font-weight: 100;
  color: #ff7800;
  }
}

.navbar-right {
  text-transform: uppercase;
  font-weight: bold;
}